# Tuples
![](https://scaler.com/topics/images/tuples-in-python.webp)

- Tuples are used to hold together multiple objects. Think of them as similar to lists, but without the extensive functionality that the list class gives you.
- One major feature of tuples is that they are **immutable** like strings i.e. you cannot modify tuples.
- Tuples are defined by specifying items separated by commas within an optional pair of parentheses.
- Tuples are usually used in cases where a statement or a user-defined function can safely assume that the collection of values i.e. the tuple of values used will **not change**.

In [1]:
# ISRO
planets = [
    "Mercury",
    "Venus",
    "Earth",
    "Mars",
    "Jupiter",
    "Saturn",
    "Uranus",
    "Neptune",
    "Pluto"
]

In [2]:
print(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']

In [3]:
# Intern at ISRO
planets[2] = "My planet"
print(planets)

['Mercury', 'Venus', 'My planet', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']

In [ ]:
# Immutable = Something that cannot be changed/modified

In [4]:
planets = (
    "Mercury",
    "Venus",
    "Earth",
    "Mars",
    "Jupiter",
    "Saturn",
    "Uranus",
    "Neptune",
    "Pluto"
)
print(planets, type(planets))

('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto') <class 'tuple'>

In [5]:
planets[2] = 'My planet'

TypeError: 'tuple' object does not support item assignment

### Important Tuple methods
- index()
- count()
- slicing

In [6]:
t = (2, 3, 10, 'hello', [5, 10], (9, 0, 'ok'), True)

In [7]:
print(t[2])

10

In [10]:
print(t[-1])
print(t[3])

True
hello

In [9]:
# Finds the first index
print(t.index(3))

1

In [11]:
t = (2, 3, 10, 'hello', [5, 10], (9, 0, 'ok'), True)
print(t.index(50))

ValueError: tuple.index(x): x not in tuple

In [13]:
t = (2, 2, 4, 5, 2, 2, 1, 2, 1)

In [14]:
print(t.count(2))

5

In [15]:
print(t.count(1))

2

In [16]:
print(t.count(10))

0

In [17]:
# Slicing
t = (10, 20, 30, 40, 50)
print(t[2:])
# New sliced tuple

(30, 40, 50)

In [18]:
print(t)

(10, 20, 30, 40, 50)

In [19]:
print(t[::-1])

(50, 40, 30, 20, 10)

### How to create a tuple
1. Using round brackets
2. Using tuple()
3. Using comma separated values

In [20]:
t = (10, 20, 30)
print(t, type(t))

(10, 20, 30) <class 'tuple'>

In [21]:
# Only one single value inside the round brackets is not considered a tuple
t = (10) # t = 10
print(t, type(t))

10 <class 'int'>

In [22]:
# If you want to create a tuple of one item, put a trailing comma afterwards
t = (10,)
print(t, type(t))

(10,) <class 'tuple'>

In [23]:
# Empty tuple
t = tuple()
print(t, type(t))

() <class 'tuple'>

In [24]:
l = ["Hello", "How", "are", "you"]
t = tuple(l)
print(t, type(t))

('Hello', 'How', 'are', 'you') <class 'tuple'>

In [25]:
t2 = tuple("Abc")
print(t2)

('A', 'b', 'c')

In [26]:
# Tuple to list
t2 = ('A', 'b', 'c')
l2 = list(t2)
print(l2)

['A', 'b', 'c']

In [27]:
t = 10, 20, 30
print(t, type(t))

(10, 20, 30) <class 'tuple'>

In [28]:
# Single element tuple
t = 10,
print(t, type(t))

(10,) <class 'tuple'>

In [29]:
# Integer
t = 10
print(t, type(t))

10 <class 'int'>

In [30]:
t = 10, 20, 30
print(len(t))

3

In [31]:
t = 10,
print(len(t))

1

#### Quiz 1
```py
t = ("Sahil")
type(t)
```

In [32]:
t = ("Sahil")
print(type(t))

<class 'str'>

In [33]:
print(t)

Sahil

In [35]:
t = ("Sahil",)
print(t, type(t))

('Sahil',) <class 'tuple'>

#### Quiz 2
What is the output of the following?

```py
print(type((1,2,3)))
```

In [36]:
print(type((1,2,3)))

<class 'tuple'>

In [37]:
t = (1,2,3)
print(type(t))

<class 'tuple'>

#### Quiz 3
```py
T1 = (1) 
T2 = (3, 4) 
T1 += 5
print(T1)
```

In [38]:
T1 = (1) 
T2 = (3, 4) # useless statement
T1 += 5
print(T1)

6

In [ ]:
# What is the type of T1 after the statement T1 = (1) ??
T1 = 1 # integer 1

In [39]:
a = 1
a += 5
print(a)

6

#### Quiz 4
```py
t=tuple(range(1, 10, 2))
print(t)
```

In [40]:
t = tuple(range(1, 10, 2))
print(t)

(1, 3, 5, 7, 9)

#### Quiz 5
What is the result of the following expression?

```py
tuple('hello world')
```

In [41]:
print(tuple('hello world'))
# strings are also iterable

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

#### Quiz 6
```py
t = (3, 4, 6, 7, 3)
print(t[::2])
```

In [42]:
t = (3, 4, 6, 7, 3)
print(t[::2])

(3, 6, 3)

In [43]:
t = (10, 20, 30)
a = t[0]
b = t[1]
c = t[2]
print(a, b, c)

10 20 30

In [44]:
# Unpacking
a, b, c = 10, 20, 30
print(a, b, c)

10 20 30

In [45]:
# Swapping two variables
a = 5
b = 7

a, b = b, a

print(a, b)

7 5

## Bonus Reading Material for Tuples
- Data Structures in Python - https://www.scaler.com/topics/data-structures-in-python/
- Tuples in Python - https://www.scaler.com/topics/python/tuples-in-python/
- What is the Difference Between List and Tuple in Python? - https://www.scaler.com/topics/difference-between-list-and-tuple-in-python/
- Convert List to Tuple in Python - https://www.scaler.com/topics/convert-list-to-tuple-python/
- WtfPython: Mutating the immutable! - https://github.com/satwikkansal/wtfpython#-mutating-the-immutable
- WtfPython: Needles in a Haystack - https://github.com/satwikkansal/wtfpython#-needles-in-a-haystack-

# Sets
![](https://scaler.com/topics/images/set-in-python.webp)

In [51]:
s = {1, 9, 'hello', 0.5, 4, 2, -50}
print(s, type(s))

{0.5, 1, 2, 4, 9, 'hello', -50} <class 'set'>

- Curly brackets
- Unordered data structure
- Unique elements

In [52]:
s = {10, 20, 10, 10, 20, 40, 30, 10, 30}
print(s)

{40, 10, 20, 30}

In [ ]:
# Internally, set uses "hashing". Hashing is covered in intermediate & advanced.

In [53]:
# Because of hashing nature of set, you cannot put all types of values inside it.
# As a general rule, all primitives and immutable types would work.

In [55]:
s = {10, 20, {30, 40}}

TypeError: unhashable type: 'set'

In [57]:
s = {10, 20, (30, 40)}
print(s)

{10, 20, (30, 40)}

In [58]:
# How to define an empty set ? 
s = {}
print(s, type(s))
# This creates a dictionary

{} <class 'dict'>

In [59]:
# Create an empty set
s = set()
print(s, type(s))

set() <class 'set'>

In [ ]:
# Sets are mutable

Important methods
- add()
- remove()
- in

In [60]:
s = {10, 20, 30}
s.add(60)
print(s)

{10, 20, 30, 60}

In [61]:
s = {10, 20, 30, 60}
s.remove(10)
print(s)

{20, 30, 60}

In [62]:
s = {20, 30, 60}
s.remove(100)
print(s)

KeyError: 100

In [63]:
s = {20, 30, 60}
s.add(10)
s.add(10)
s.add(10)
print(s)

{10, 20, 30, 60}

In [64]:
print(s)

{10, 20, 30, 60}

In [65]:
# Check if a value is present in your set or not
s = {10, 20, 30, 40}
print(10 in s)

True

In [66]:
print(100 in s)

False

In [68]:
x = 20
if x in s:
    print("Value is present in the set")
else:
    print("Value is not present in the set")

Value is present in the set

### TV Series recommendation
You ask 2 friends for a TV Series recommendation

In [69]:
A = {
    "Breaking Bad",
    "Better Call Saul",
    "Dark"
}

B = {
    "Sherlock",
    "Dark",
    "The Office"
}

In [73]:
# Intersection
C = A & B
# C = A.intersection(B)
# C = B.intersection(A)
print(C)

{'Dark'}

In [74]:
# Union
D = A | B
# D = A.union(B)
# D = B.union(A)
print(D)

{'Better Call Saul', 'Dark', 'Sherlock', 'Breaking Bad', 'The Office'}

In [75]:
# Difference
E = A - B
print(E)

{'Better Call Saul', 'Breaking Bad'}

In [76]:
F = B - A
print(F)

{'Sherlock', 'The Office'}

In [77]:
# Symmetric Difference
G = A ^ B
print(G)

{'Sherlock', 'Breaking Bad', 'The Office', 'Better Call Saul'}

### Quiz 7
What is the output of the following?
```py
a = {1,2,3}
b = {3,4,5}
print(a-b)
print(a.union(b))
print(a.intersection(b))
```

In [78]:
a = {1,2,3}
b = {3,4,5}
print(a-b)
print(a.union(b))
print(a.intersection(b))

{1, 2}
{1, 2, 3, 4, 5}
{3}

#### Quiz 8
What is the value of x in the code snippet below?
```py
set1 = {1, 2, 3, 4, 5, 6}
set2 = {2, 4, 5, 6, 7}
x = set1 | set2
```

In [79]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {2, 4, 5, 6, 7}
x = set1 | set2
print(x)

{1, 2, 3, 4, 5, 6, 7}

### Count unique
Given an array, count unique elements in it.

In [82]:
def countUnique(arr):
    s = set(arr)
    return len(s)

In [83]:
def countUnique(arr):
    return len(set(arr))

In [85]:
arr1 = [10, 20, 30, 40, 30, 20, 10, 10, 20, 30, 10]
arr2 = [50, 60, 50]

In [86]:
print(countUnique(arr1)) # 4
print(countUnique(arr2)) # 2

4
2

In [80]:
print(set([10, 20, 30, 40, 30, 20, 10, 10, 20, 30, 10]))

{40, 10, 20, 30}

## Bonus Reading Material for Sets
- set() in Python - https://www.scaler.com/topics/set-in-python/
- Sets in Python - https://www.scaler.com/topics/python/sets-in-python/
- Set to List Python - https://www.scaler.com/topics/set-to-list-python/
- Convert List to Set Python - https://www.scaler.com/topics/convert-list-to-set-python/
- frozenset() in Python - https://www.scaler.com/topics/frozenset-in-python/
- Python Set difference() - https://www.scaler.com/topics/python-set-difference/
- union() in Python - https://www.scaler.com/topics/union-in-python/
- intersection() in Python - https://www.scaler.com/topics/intersection-in-python/
- symmetric_difference() Python - https://www.scaler.com/topics/symmetric-difference-python/

# Doubts